/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Header and Navigation */
header {
  background-color: #20232a;
  color: #61dafb;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: #61dafb;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

header nav ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #20232a;
  color: #61dafb;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

/* Main Content and Sections */
.content-section {
  padding: 2rem 1rem;
  text-align: left;
}

/* Portfolio Grid */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Project Cards in Portfolio */
.project {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project img {
  max-height: 200px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project h2, .project p, .project a {
  padding: 10px;
}

.project:hover {
  transform: translateY(-5px);
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust this line if needed */
  gap: 20px;
  justify-items: center;
  margin-bottom: 20px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.skill-image {
  width: 80px;
  height: auto;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .portfolio-grid, .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .portfolio-grid, .skills-grid {
    grid-template-columns: 1fr;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 0.5rem 0;
  }
}
